.music-box
{
    height: 80px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 0.1rem;
    margin-bottom: 1rem;
}
.music-box__content,
.music-box__icons
{
    display: flex;
    gap: 1rem;
    
}
.music-box__icons
{
    line-height: 40px
}
.music-box__icons i
{
    line-height: 76px;
    font-size: 25px;
    color: #787887
}
.music-box__img-box
{
    height: 67px;
    width: 67px;
    margin-top: 5px;
    background-color: #D6D6D6;
    border-radius: 15px;
    
}
.music-box__artist-name
{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}
.music-box__views
{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    color: #4D4D56;
}